/* You can add global styles to this file, and also import other style files */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 200px;
    text-align: center;
    margin: 10px;
  }

.price-font{
    font-size: 14px;
    color: grey;
    text-align: left !important;
}
.item-footer{
    background: rgba(128, 128, 128, 0.1);
}

.subscribe{
    height: 6px;
    background: rgba(128, 128, 128, 0.56);
    border-radius: 5px;
    margin-bottom: 10px;
}
.color-bar{
    border-radius: 5px;
    background: orange;
}
.search-box{
    height: 25px;
    margin-right: 5px;
}
.search-padding{
    padding-top: 8px;
}

.edit-form{
    width: 80%;
    padding: 10px;
}
.ng2-pagination{
    cursor: pointer;
}
